extensions/vscode/THIRD_PARTY_NOTICES text eol=lf
extensions/vscode/licenses/source-map-0.7.6.txt text eol=lf
extensions/chrome/LICENSE text eol=lf
extensions/chrome/THIRD_PARTY_NOTICES text eol=lf
extensions/firefox/LICENSE text eol=lf
extensions/firefox/THIRD_PARTY_NOTICES text eol=lf
